### Angular ###
front/dist/
front/tmp/
front/app/*/.js
front/app/*/.js.map
front/node_modules/
front/bower_components/
# misc
front/.sass-cache/
front/connect.lock/
front/coverage/
front/libpeerconnection.log/
front/npm-debug.log
front/testem.log
front/typings/
front/.angular/

front/.vscode/


### Node ###
back/node_modules/
# back/.env


# IDEs and editors
.idea/
# System Files
.DS_Store/
# e2e
e2e/*.js
e2e/*.map